adminPassword: {{current_cp4waiops_feature.initial_admin_pass}}
dhParams: |
  -----BEGIN DH PARAMETERS-----
  MIGHAoGBAOOUdXJxw1BykW2TH/6OO0/T6Sv0jtvvs7X4ZzMJSDZaQRnKkKZ2Nikm
  +NjKm/pmquA7MV4W7SDkbc+ZMk4BA8YgBipO5Q70I2YeSPo4Y0vmI0A1yGvrOpuA
  hDDwWwGc/bqeGn8et7Ka93HlYVQ3oc1yw6mBLz7oS5alqFLfFbnTAgEC
  -----END DH PARAMETERS-----
imagePullSecrets:
  - name: instana-registry
downloadKey: {{current_cp4waiops_feature.agent_key}}
salesKey: {{current_cp4waiops_feature.sales_key}}
tokenSecret: uQOkH+Y4wU_0
emailConfig:
  # Required if SMTP is used for sending e-mails and authentication is required
  smtpConfig:
    user: mysmtpuser
    password: mysmtppassword
# SAML/OIDC configuration
serviceProviderConfig:
  # Password for the key/cert file
  keyPassword: instana
  # The combined key/cert file
  pem: |
      -----BEGIN RSA PRIVATE KEY-----
      Proc-Type: 4,ENCRYPTED
      DEK-Info: AES-128-CBC,11235E591F74C4FC8424E8448396A772

      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      ***REMOVED***
      -----END RSA PRIVATE KEY-----
      -----BEGIN CERTIFICATE-----
      MIIDwjCCAqoCCQCNuRNwmGCdoDANBgkqhkiG9w0BAQsFADCBojELMAkGA1UEBhMC
      VUsxEDAOBgNVBAgMB0VuZ2xhbmQxDzANBgNVBAcMBkxvbmRvbjEMMAoGA1UECgwD
      SUJNMRMwEQYDVQQLDApBdXRvbWF0aW9uMSYwJAYDVQQDDB1pbnN0YW5hLmFwcHMu
      d2Fpb3BzLmNoZWNodS5tZTElMCMGCSqGSIb3DQEJARYWbHVjYS5mbG9yaXNAdWsu
      aWJtLmNvbTAeFw0yMjExMTQxMDQ1MjlaFw0yMzExMTQxMDQ1MjlaMIGiMQswCQYD
      VQQGEwJVSzEQMA4GA1UECAwHRW5nbGFuZDEPMA0GA1UEBwwGTG9uZG9uMQwwCgYD
      VQQKDANJQk0xEzARBgNVBAsMCkF1dG9tYXRpb24xJjAkBgNVBAMMHWluc3RhbmEu
      YXBwcy53YWlvcHMuY2hlY2h1Lm1lMSUwIwYJKoZIhvcNAQkBFhZsdWNhLmZsb3Jp
      c0B1ay5pYm0uY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqH4z
      sA8PlR9saXA8FMb668lo0hBSHHpbONDx2prc7YuJtzNiZEa7CQUweMKI6847YU1w
      +5Hnh7RhfsSCAzMAp7ObuAoLzG0JOCScUwPwR9Oj4qAKNhETIy1c17j3e9ZLfNFA
      GfoMVOrfCmjHMya9qY+UZ7RTHD4YzIyIUQvtcwu5Bk9sE+TmrLc4rQNo/7dGb/0l
      RwCSMjCvxrIxUNHf88wpvAt+NGxfPFHkXPLP7FTERNDQyTYtQpPxsLlv7DebdGb7
      4y/Ag7g4J2SbhmQvwOU2KydOKzLfmd/1j8Ej+nUKYfhePZrtubEg6l+X86fO6SRg
      35Osa9f7dT1tw5wEtQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBs9jL0u0YIkg2/
      FjH4VNCHoLHMKsZoXw6HrQ2vDBb8aMBWGPBnl4UCg/6McIFm3K8eAW0ujGn732Bw
      onvBtjDj51/jrp1t1qItXbaGtMjdop4QdQwLG0PsDxkyqYvY9m9gEpz6KeNXuEpA
      lVUs2XHZv5UWJSEdbAV/rBLoqIKGo/WcftMJqCPJ9LRkO3B333y6p54Mpn1waPLK
      PzopxrbUx88pq9cvz6/IJC5lrAzruAwfQBtYek0EIXmxLnBq7aoMW2gqysAvTFbr
      Ir84FX2C+cuWoK6f0gFykYSPLSp+CbSJ9dD33bDNM+P/t2ytatz7qOYw7u6xUoBl
      7ReHGvpY
      -----END CERTIFICATE-----
